<?xml version="1.0"?>
<!-- CMP 438: Communicating Robots - Isaac D. Hoyos -->
<robot name="diffbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ================= PARAMETERS ================= -->
  <xacro:property name="wheel_radius" value="0.075"/>
  <xacro:property name="wheel_width" value="0.075"/>
  <xacro:property name="wheel_sep" value="0.45"/>

  <!-- Derived Parameters -->
  <xacro:property name="half_wheel_sep" value="${wheel_sep * 0.5}"/>

  <!-- ================= BASE ================= -->
  <link name="base_link">
    <visual>
      <geometry>
        <!-- Bigger Body -->
        <box size="0.6 0.45 0.15"/>
      </geometry>
      <material name="green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <box size="0.6 0.45 0.15"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="8.0"/>
      <inertia
        ixx="0.2" iyy="0.2" izz="0.2"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>

  <!-- ================= LEFT WHEEL ================= -->
  <link name="left_wheel">
    <visual>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="1.5"/>
      <inertia
        ixx="0.02" iyy="0.02" izz="0.02"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>

  <!-- ================= RIGHT WHEEL ================= -->
  <link name="right_wheel">
    <visual>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="1.5"/>
      <inertia
        ixx="0.02" iyy="0.02" izz="0.02"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>

  <!-- ================= LEFT JOINT ================= -->
  <joint name="left_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="left_wheel"/>
    <origin xyz="0 ${half_wheel_sep} -0.075" rpy="0 1.5707 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <!-- ================= RIGHT JOINT ================= -->
  <joint name="right_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="right_wheel"/>
    <origin xyz="0 -${half_wheel_sep} -0.075" rpy="0 1.5707 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <!-- ================= GAZEBO DIFF DRIVE ================= -->
  <gazebo>
    <plugin
      filename="libros_gz_sim_diff_drive_system.so"
      name="ros_diff_drive">

      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>

      <wheel_separation>${wheel_sep}</wheel_separation>
      <wheel_radius>${wheel_radius}</wheel_radius>

      <command_topic>cmd_vel</command_topic>
      <odom_topic>odom</odom_topic>
      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_link</robot_base_frame>

    </plugin>
  </gazebo>

</robot>
